body {
	background-color:white;
	
}
.container {
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: yellow;
	
}
.square {
	width: 200px;
	height: 200px;
	background-color: red;
	cursor: pointer;
}
.square:hover {
	background-color: green;
}
.circle {
	width: 200px;
	height: 200px;
	background-color: green;
	border-radius: 50%;
	cursor: progress;
}
.rectangle {
	width: 200px;
	height: 400px;
	background-color: brown;
}
h1 {
	order: 1;
}